* {
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: rgba(18, 17, 20, 0.607);
    position: absolute;
}

.container {
    color: rgb(212, 212, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed ;
}

.imagem-da-forca {
    margin: 40px;
    position: relative;
}

.txt-letra {
    color: rgb(10, 10, 14);
    font-family: 'Kanit', sans-serif;
    width: 5%;
    margin: 40px;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.painel-letras {
    max-width: 75%;
    text-align: center;
}

.botoes>button {
    padding: 10px;
}

.quadros {
    padding: 10px;
    margin: 10px;
    font-size: 28px;
    align-items: center;
    text-align: center;
}